.main-content {
  height: auto;
  background-color: rgb(255, 255, 255);

  /* background-color: rgb(5, 48, 57); */
}

.landing-image-1 {
  height: 50%;
  width: 1521px;
  margin: 0;
  padding: 0;
}

.main-content {
  text-align: center;
}

.hero {
  position: relative;
}

.free-assessment {
  display: inline-flex;
  padding: 35px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 5px;
  opacity: 0.8;
  background: #fff;
  position: relative;
  bottom: 390px;
  right: 250px;
  margin-bottom: -270px;
}

.choices {
  display: flex;
  gap: 2px;
  font-weight: 600;
  font-size: 2.4vw;
}

.description {
  font-size: 1vw;
  text-align: left;
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

.button-free button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #ffb800;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 155% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border: none;
}

.choices div {
  color: #222;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

@media only screen and (max-width: 600px) {
  .free-assessment {
    position: relative;
    left: 21px;
  }

  .landing-image-1 {
    position: relative;
    right: 1120px;
  }

  .main-content {
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .free-assessment {
    position: relative;
    left: 100px;
  }
}
